#contact-column {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

#contact-column .col {
    display: flex;
    align-items: center;
    flex: 50%;
    flex-direction: column;
}

#contact-column .col p {
    font-size: 30px;
    font-family: Rubik,sans-serif;
}

#contact-column .col i {
    vertical-align: middle;
    margin-right:15px;
    font-size:45px;
    padding-bottom: 2px
}

@media only screen and (max-width: 740px) {
    #contact-column .col {
        flex: 100%;
    }

    #contact-column .col p {
        font-size: 20px;
    }
}